<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
	<li><%= link_to 'One', "#" %></li>
	<li><%= link_to 'One', "#" %></li>
	<li><%= link_to 'One', "#" %></li>
	<li><%= link_to 'One', "#" %></li>
</ul>
<ul class="nav pull-right">
	<li><%= link_to 'Two', "#" %></li>
	<li><%= link_to 'Two', "#" %></li>
</ul>
